@model IEnumerable<ISW_Dashboard.Models.ProjectVPN>

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    table.altrowstable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #a9c6c9;
        border-collapse: collapse;
    }

        table.altrowstable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #a9c6c9;
        }

        table.altrowstable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #a9c6c9;
        }

    .oddrowcolor {
        background-color: #d4e3e5;
    }

    .evenrowcolor {
        background-color: #c3dde0;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="altrowstable">
    <tr>
        <th>
            @Html.DisplayName("Project Name")
        </th>
        <th>
            @Html.DisplayName("Customer Name")
        </th>
        <th>
            @Html.DisplayName("Project Detail")
        </th>
        <th>
            @Html.DisplayName("Project Owner")
        </th>
        <th>
            @Html.DisplayName("Current Summary")
        </th>
        <th>
            @Html.DisplayName("Next Steps")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    var dStatus = (Dictionary<string, string>)ViewData["Status"];
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.projectname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectdetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.projectowner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentsummary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nextsteps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @dStatus[(item.status == null ? "" : item.status.ToString())])
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
