@model ISW_Dashboard.Models.ProjectVPN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProjectVPN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.projectname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectdetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectdetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectowner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectowner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentsummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentsummary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nextsteps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nextsteps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
