<div class="jumbotron">
    @Html.ActionLink("Home", "", "Home")
    @Html.ActionLink("VPN Tracker", "", "VPNTracker")
    @Html.ActionLink("Event Data", "", "EventData")
    @Html.ActionLink("Event Data Duplicates", "", "EventDataDuplicates")
    @Html.ActionLink("Customer", "", "Customer")
    @Html.ActionLink("Import Excel", "", "ImportExcel")
</div>