<div class="jumbotron">
    @*@Html.ActionLink("Home", "", "Home")*@
    @Html.ActionLink("VPN Tracker", "", "VPNTracker")
    &nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Events Data", "", "EventData")
    &nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Compeleted/Canceled Events Data", "", "Completed_EventData")
    &nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("T-Activities Event Data", "", "TActivitiesEventData")
    &nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Unassigned Events Data", "", "UnassignedEventsData")
    &nbsp;&nbsp;&nbsp;&nbsp;
    @*@Html.ActionLink("Events Data Duplicates", "", "EventDataDuplicates")*@    
    @Html.ActionLink("Customer", "", "Customer")
    @*@Html.ActionLink("Import Excel", "", "ImportExcel")*@

    
</div>