@model IEnumerable<ISW_Dashboard.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MigrationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnassignedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HVC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exception)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExceptionDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        var MigrationType = (Dictionary<string, string>)ViewData["MigrationType"];
        var flag = (Dictionary<string, string>)ViewData["flag"];
        var state = (Dictionary<string, string>)ViewData["state"];
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @MigrationType[(item.MigrationType ?? "").ToString()])
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnassignedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @flag[(item.HVC.ToString() ?? "").ToString()])
        </td>
        <td>
            @Html.DisplayFor(modelItem => @flag[(item.Exception.ToString() ?? "").ToString()])
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExceptionDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @state[(item.state.ToString() ?? "").ToString()])
           
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
    }

</table>
