@model IEnumerable<ISW_Dashboard.Models.tbl_ISW_Data>

@{
    ViewBag.Title = "Dashboard";
}

<style type="text/css">
    table.altrowstable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #a9c6c9;
        border-collapse: collapse;
    }

        table.altrowstable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #a9c6c9;
        }

        table.altrowstable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #a9c6c9;
        }

    .oddrowcolor {
        background-color: #d4e3e5;
    }

    .evenrowcolor {
        background-color: #c3dde0;
    }
</style>



@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="altrowstable">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityName)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.MigrationWindow)
        </th>
        <th width="10px">
            @Html.DisplayNameFor(model => model.MigrationGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalUnits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MigrationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model =>  model.SubStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        
         
        <th>
            @Html.DisplayNameFor(model => model.completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inprogress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.failed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
    </tr>

@foreach (var item in Model) {
    var dsubStatus = (Dictionary<string, string>)ViewData["subStatus"];
    var dStatus = (Dictionary<string, string>)ViewData["Status"];
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) @*|
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MigrationWindow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MigrationGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalUnits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MigrationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @dsubStatus[ (item.SubStatus ?? "").ToString()])
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @dStatus[(item.Status ?? "").ToString()])
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.completed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inprogress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.failed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        
    </tr>
}

</table>
